/* utilidades */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* reset rem y em para que sea de 10px */
html {
  font-size: 62.5%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

button {
  background-color: #7a695d;
  border: 2px solid #ae9c8f;
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #ffffff;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
button:hover {
  box-shadow: inset 0 100px 0 0 #ffffff;
}

.navbar {
  margin-bottom: 0;
  padding: 0;
}

.navbar-brand img {
  height: 3.6rem;
  width: 100%;
  border-radius: 30px;
}

.bg-color {
  background-color: #7a695d;
}

.navbar-nav {
  gap: 20px;
}
.navbar-nav a {
  position: relative;
  color: #ffffff;
  font-size: 2rem;
}
.navbar-nav a:hover {
  color: #e5d2c4;
}
.navbar-nav a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.navbar-nav a:hover::before {
  transform: scaleX(1);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5d2c4;
}

.logo img {
  height: 200px;
  width: 200px;
  margin-top: 3rem;
  border-radius: 500px;
}

.redes ul {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.redes ul li {
  font-size: 2.8rem;
}
.redes ul li .facebook:hover {
  color: #1DA1F2;
  transition: 0.5s;
}
.redes ul li .whastapp:hover {
  color: #25D366;
  transition: 0.5s;
}
.redes ul li .instagram:hover {
  color: #833AB4;
  transition: 0.5s;
}

.salto {
  display: block;
  background-color: #7a695d;
  height: 2px;
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: none;
  border-radius: 10px;
}

.copiright p {
  font-size: 1.6rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

/* pages */
body {
  background-color: #e5d2c4;
}

.banner {
  display: flex;
  height: 100%;
  min-height: 290px;
  padding-top: 4rem;
  max-width: 1440px;
  margin: 0 auto;
}

.container-box-1 {
  background-color: #ae9c8f;
}
.container-box-1 .container-box-galeria {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 4rem 0;
}
.container-box-1 .container-box-galeria .container-box-img img {
  width: 100%;
  height: 50vh;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}
.container-box-1 .container-box-galeria .container-box-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  text-align: center;
  width: 50%;
  margin: 0;
  padding: 0;
}
.container-box-1 .container-box-galeria .container-box-text h2 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 3.2rem;
}
.container-box-1 .container-box-galeria .container-box-text p {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2.1rem;
}

.container-box-2 .container-box-cursos {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 4rem 0;
}
.container-box-2 .container-box-cursos .container-box-img-2 img {
  width: 100%;
  height: 50vh;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}
.container-box-2 .container-box-cursos .container-box-text-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 50%;
}
.container-box-2 .container-box-cursos .container-box-text-2 h2 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 3.2rem;
}
.container-box-2 .container-box-cursos .container-box-text-2 p {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2.1rem;
}

.container-box-3 {
  background-color: #ae9c8f;
}
.container-box-3 .container-box-tienda {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 4rem 0;
}
.container-box-3 .container-box-tienda .container-box-img-3 img {
  width: 100%;
  height: 50vh;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}
.container-box-3 .container-box-tienda .container-box-text-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 50%;
}
.container-box-3 .container-box-tienda .container-box-text-3 h2 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 3.2rem;
}
.container-box-3 .container-box-tienda .container-box-text-3 p {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2.1rem;
}

.main-galeria {
  margin-top: 10rem;
  padding-bottom: 3rem;
  background-color: #7a695d;
  border-radius: 5rem 5rem 0 0;
}

.galeria-separador {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.galeria-separador h2 {
  font-size: 4rem;
  padding: 3rem 0;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  gap: 20px;
  margin-bottom: 3rem;
}

.grid-columna img {
  height: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.grid-columna:nth-child(1) {
  grid-column: 1/7;
}

.grid-columna:nth-child(2) {
  grid-column: 7/13;
}

.grid-columna:nth-child(3) {
  grid-column: 1/5;
}

.grid-columna:nth-child(4) {
  grid-column: 5/9;
}

.grid-columna:nth-child(5) {
  grid-column: 9/13;
  grid-row: 2/4;
}

.grid-columna:nth-child(6) {
  grid-column: 1/5;
}

.grid-columna:nth-child(7) {
  grid-column: 5/9;
}

.grid-columna:nth-child(8) {
  grid-column: 1/7;
}

.grid-columna:nth-child(9) {
  grid-column: 7/13;
}

.logo-entrada {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 5rem;
}
.logo-entrada img {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  min-height: 250px;
}

.container-curso {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  background-color: #ae9c8f;
}
.container-curso .container-curso-articulo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  padding: 3rem 0;
  flex-grow: 1;
  flex-basis: 0;
}
.container-curso .container-curso-articulo .container-curso-articulo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 3rem;
}
.container-curso .container-curso-articulo h2 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 3.2rem;
  text-align: center;
}
.container-curso .container-curso-articulo p {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2.1rem;
  text-align: center;
}
.container-curso .container-curso-articulo ol li {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2.1rem;
}
.container-curso .container-curso-img {
  padding: 2rem;
  height: 60vh;
}
.container-curso .container-curso-img img {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  border-radius: 5rem;
  overflow: hidden;
  height: 100%;
}

.container-curso-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}
.container-curso-2 .container-curso-articulos-2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 10rem 0;
  flex-grow: 1;
  flex-basis: 0;
}
.container-curso-2 .container-curso-articulos-2 .container-curso-articulo-text-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 3rem;
}
.container-curso-2 .container-curso-articulos-2 .container-curso-articulo-text-2 h2 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 3.2rem;
  text-align: center;
}
.container-curso-2 .container-curso-articulos-2 .container-curso-articulo-text-2 p {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2.1rem;
  text-align: center;
}
.container-curso-2 .container-curso-articulos-2 .container-curso-articulo-text-2 ol li {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2.1rem;
}
.container-curso-2 .container-curso-articulos-2 .container-curso-img-2 {
  padding: 2rem;
  height: 60vh;
}
.container-curso-2 .container-curso-articulos-2 .container-curso-img-2 img {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  border-radius: 5rem;
  overflow: hidden;
  height: 100%;
}

.container-curso-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background-color: #ae9c8f;
}
.container-curso-3 .container-curso-articulos-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  padding: 3rem 0;
  flex-grow: 1;
  flex-basis: 0;
}
.container-curso-3 .container-curso-articulos-3 .container-curso-articulo-text-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 3rem;
}
.container-curso-3 .container-curso-articulos-3 h2 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 3.2rem;
  text-align: center;
}
.container-curso-3 .container-curso-articulos-3 p {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2.1rem;
  text-align: center;
}
.container-curso-3 .container-curso-articulos-3 ol li {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2.1rem;
}
.container-curso-3 .container-curso-img-3 {
  padding: 2rem;
  height: 60vh;
}
.container-curso-3 .container-curso-img-3 img {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  border-radius: 5rem;
  overflow: hidden;
  height: 100%;
}

.banner-tienda {
  background-image: url(../../assest/tienda/banner-tienda.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  padding: 8rem;
  margin: 0 auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.banner-tienda .banner-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 4rem;
  margin: 0 auto;
  margin-top: 3rem;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.banner-tienda .banner-texto h2 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 2.1rem;
}
.banner-tienda .banner-texto p {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.6rem;
}

.container-tienda {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 1.5rem;
}
.container-tienda .container-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 4rem 0;
  text-align: center;
}
.container-tienda .container-cards .cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  flex: 1 1 clamp(300px, 30%, 400px);
  background-color: #f2e8e1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.container-tienda .container-cards .cards img {
  height: 80vh;
  width: 100%;
  object-fit: cover;
  padding: 0.3rem;
}
.container-tienda .container-cards .cards h2 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2.1rem;
}
.container-tienda .container-cards .cards span {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.6rem;
}
.container-tienda .container-cards .cards button {
  margin-bottom: 1rem;
}

.mapa-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 2rem;
}

.contacto {
  font-size: 2rem;
}
.contacto ::placeholder {
  font-size: 1.2rem;
}

.form-check-label {
  font-size: 1.5rem;
}

.btn {
  padding: 1rem 1.8rem;
  margin: 1rem auto;
  border: none;
  background-color: #e5d2c4;
  border-radius: 3px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: #f2e8e1;
  color: #7a695d;
  transition: 1s ease;
}

.banner-sobremi {
  background: url(../../assest/banner-sobre-mi.jpg) no-repeat center center;
  background-size: cover;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
}
.banner-sobremi .container-banner-sobremi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  background: linear-gradient(rgba(5, 7, 12, 0.65), rgba(5, 7, 12, 0.65));
  padding: 11rem;
  color: #ffffff;
}
.banner-sobremi .container-banner-sobremi .title {
  text-align: center;
  font-size: clamp(2em, 5vw, 5em);
}
.banner-sobremi .container-banner-sobremi .title h1 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.banner-sobremi .container-banner-sobremi .title p {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.banner-sobremi .container-banner-sobremi .presentation {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  text-align: center;
  padding: 2rem;
  background: linear-gradient(rgba(5, 7, 12, 0.65), rgba(5, 7, 12, 0.65));
  border-radius: 3rem;
}

.section-creador {
  display: flex;
  max-width: 1440px;
  margin: 0rem auto;
  padding: 9rem;
  width: 50%;
}
.section-creador .article-creador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.section-creador .article-creador img {
  border-radius: 100%;
  padding: 2rem;
  width: 100%;
}
.section-creador .article-creador p {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.6rem;
  text-align: center;
  color: #ffffff;
  padding: 2rem;
  background: linear-gradient(rgba(5, 7, 12, 0.15), rgba(5, 7, 12, 0.15));
  border-radius: 3rem;
}

/*# sourceMappingURL=style.css.map */
