//paleta de colores
$color-1: #7a695d;
$color-2: #ae9c8f;
$color-3: #e5d2c4;
$color-4: #f2e8e1;
$color-5: #ffffff;

//tamaño de fuentes
$small: 1.3rem;
$medium: 1.6rem;
$large:2.1rem;
$xl:3.2rem;
$xxl:4rem;

//colores redes
$whatsapp: #25D366;
$facebook: #1DA1F2;
$instagram: #833AB4;
