//paleta de colores
$color: (
    color1: #7a695d,
    color2: #ae9c8f,
    color3: #e5d2c4,
    color4: #f2e8e1,
    color5: #ffffff
);

//tamaño de fuentes
$fuente: (
    small: 1.3rem,
    medium: 1.6rem,
    large:2.1rem
    )