@import "../utilities/variables";
@import "../utilities/mixing";

footer {
    @include flex (column,center,center, null, null);
    background-color: #e5d2c4;
}

.logo img {
    @include sizes (200px, 200px);
    margin-top: 3rem;
    border-radius: 500px;
}

.redes ul {
    @include flex (null,null,null, 1rem, null);
    margin-top: 1rem;
    & li {
        font-size: 2.8rem;
        .facebook:hover {
            color: $facebook;
            transition: 0.5s;
        }
        .whastapp:hover {
            color: $whatsapp;
            transition: 0.5s;
        }
        .instagram:hover{
            color: $instagram;
            transition: 0.5s;
        }
    }
}

.salto {
    display: block;
    background-color: $color-1;
    @include sizes (2px, 80%);
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: none;
    border-radius: 10px;
}

.copiright p {
    font-size: $medium;
    @include margin;
    margin-bottom: 2rem;
}