.banner-sobremi {
    background: url(../assest/banner-sobre-mi.jpg) no-repeat center center;
    background-size: cover;;
    min-width: 320px;
    max-width: 1440px;
    margin: 0 auto;
    .container-banner-sobremi {
        @include flex (column, center, center, 20px, wrap);
        background: linear-gradient(rgba(5, 7, 12, 0.65), rgba(5, 7, 12, 0.65));
        padding: 10rem 0rem;
        margin: 1rem 1rem 0 1rem;
        color: $color-5;
        .title {
        text-align: center;
        min-width: 200px;
            h1 {
                @include text (900);
                font-size: $xxl;
            }
            p {
                @include text (400);
                font-size: $xl;
            }
            .presentacion p {
                @include text (200);
                background: linear-gradient(rgba(5, 7, 12, 0.65), rgba(5, 7, 12, 0.65));
                font-size: $large;
                border-radius: 2rem;
                padding: 1rem;
            }
        }     
    }
}
.section-creador {
    @include flex (null , center, center, null, wrap);
    max-width: 1440px;  
    margin: 0 auto;
    .article-creador {
        @include flex (null, center, center, null, null);
        background: linear-gradient(rgba(5, 7, 12, 0.15), rgba(5, 7, 12, 0.15));
        border-radius: 2rem;
        overflow: hidden;
        margin-top: 2rem;
        margin-bottom: 2rem;
        .article-texto {
            background-color: $color-5;
            padding: 1rem;
            overflow: hidden;
            p {
                @include text (500);
                font-size: $large;
                color: $color-1;
                text-align: center;
                padding: 1rem;
                border-radius: 3rem;
                text-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
            }
        }
        .article-foto {
            flex: 1;
            img {
                padding: 4rem 5rem;
                border-radius: 100%;
                min-width: 320px;
                text-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        } 
        }
    }
}
