.banner-sobremi {
    background: url(../assest/banner-sobre-mi.jpg) no-repeat center center;
    background-size: cover;;
    min-width: 320px;
    max-width: 1440px;
    margin: 0 auto;
    .container-banner-sobremi {
        @include flex (column, center, center, 20px, wrap);
        background: linear-gradient(rgba(5, 7, 12, 0.65), rgba(5, 7, 12, 0.65));
        padding: 10rem 0rem;
        margin: 1rem 1rem 0 1rem;
        color: $color-5;
        .title {
        text-align: center;
        min-width: 200px;
            h1 {
                @include text (900);
                font-size: $xxl;
            }
            p {
                @include text (400);
                font-size: $xl;
            }
            .presentacion p {
                @include text (200);
                background: linear-gradient(rgba(5, 7, 12, 0.65), rgba(5, 7, 12, 0.65));
                font-size: $large;
                border-radius: 2rem;
            }
        }     
    }
}
.section-creador {
    @include flex (row, center, center, 20px, null);
    max-width: 1440px;
    min-width: 200px;
    margin: 0 auto;
    .article-creador {
        @include flex (column, center, center, 20px, wrap);
            img {
                display: block;
                border-top-left-radius: 50% 50%;
                border-top-right-radius: 50% 50%;
                border-bottom-right-radius: 50% 50%;
                border-bottom-left-radius: 50% 50%;
                padding: 4rem 0;
                margin: 3rem auto; 
                min-width: 320px;
                @include sizes (70%, 70%);
            
        } 
        p {
            @include text (500);
            font-size: $large;
            text-align: center;
            color: $color-5;
            background: linear-gradient(rgba(5, 7, 12, 0.15), rgba(5, 7, 12, 0.15));
            margin: 4rem 1rem;
            padding: 1rem;
            border-radius: 3rem;
        }
    }
}