.banner-tienda {
    background-image: url(../assest/tienda/banner-tienda.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    padding: 8rem;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    .banner-texto {
        @include flex (column, center, center, 10px , null);
        min-width: 180px;
        width: 100%;
        padding: 4rem;
        margin: 0 auto;
        margin-top: 3rem;
        text-align: center;
        background-color: $color-5;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        h2 {
            @include text (900);
            font-size: $large;
        }
        p {
            @include text (500);
            font-size: $medium;
        }
    }
}
.container-tienda {
    @include flex (null, center, center, null, wrap);
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 1.5rem;
    .container-cards {
        @include flex (row, center, center, 20px, wrap);
        margin: 4rem 0;
        text-align: center;
        .cards {
            @include flex (column, center, center, 20px, wrap);
            flex: 1 1 clamp(300px, 30%, 400px);
            background-color: $color-4;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            img {
                height: 80vh;
                width: 100%;
                padding: .3rem;
                object-fit: cover;
            }
            h2 {
                @include text (700);
                font-size: $large;
            }
            span {
                @include text (500);
                font-size: $medium;
            }
        button {
            margin-bottom: 1rem;
        }
        }
    }
}